apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: cloudnorth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 730335362105.dkr.ecr.eu-west-1.amazonaws.com/cloudnorth-frontend:latest
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: cloudnorth
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80